@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["title"]</title>
    @Styles.Render("~/Content/kendo.dataviz.min.css")
    <style>
        h2 {
            margin-left: 25px;
        }
    </style>
</head>
<body>

    <h2>@ViewData["title"]</h2>
    <hr />

    <div id="stockChart"></div>

    @Scripts.Render("~/Scripts/jquery.min.js")
    @Scripts.Render("~/Scripts/kendo.dataviz.min.js")

    <script>

        $(function () {

            $("#stockChart").kendoStockChart({
                dataSource: {
                    transport: {
                        read: "@Url.Content("~/Content/quotes.json")"
                    },
                    group: {
                        field: "Symbol"
                    }
                },
                dateField: "Date",
                panes: [
                    {
                        title: "Close",
                        height: 200
                    },
                    {
                        name: "volumePane",
                        title: "Volume"
                    }
                ],
                valueAxis: [
                    {
                        // Default axis
                    },
                    {
                        name: "volume",
                        pane: "volumePane",
                        visible: false
                    }
                ],
                series: [
                     {
                         type: "ohlc",
                         openField: "Open",
                         highField: "High",
                         lowField: "Low",
                         closeField: "Close"
                     },
                    {
                        type: "column",
                        field: "Volume",
                        name: "Volume",
                        axis: "volume"
                    }
                ],
                navigator: {
                    series: {
                        type: "area",
                        field: "Close",
                        name: "Close"
                    },
                    select: {
                        from: "2012/01/01"
                    }
                }
            });

        });

    </script>

</body>
</html>
